<h1>Lord of the Rings</h1>
<h2>{{title}}</h2>
<ul id="data">
{{#each rows}}
    <li>{{this}}</li>
{{/each}}
</ul>
<ul id="data">
    <li>{{data}}</li>
    {{#each data}}
        <li>{{data}}</li>
    {{/each}}
</ul>
